@import "tailwindcss";

/* Hides the scrollbar for a cleaner look */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  /* Smooth scrolling */
  .flex {
    scroll-behavior: smooth;
  }
  